<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>login here access data</h1><hr/><br/><br/>
    <form method="POST" calss="post_form" action="/login/">
        {% csrf_token %}
        <u><h3>login here</h3></u><br/>
        <table>
            <tr>
            <td>uname:</td><td><input type="text" name="uname" placeholder="enter uname here"class="name"></td>
            </tr>
            <tr>
                <td>password:</td><td><input type="password" name="password" placeholder="enter password here"class="name"></td>
            </tr>
        </table><br/><br/>
        <button type="submit">login</button>
    </form>
</center>
</body>
</html>